[Unit]
Description=Run Ansible playbook on startup & every 12 hrs thereafter
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
RuntimeMaxSec=12hr
ExecStart=/usr/bin/ansible-pull -U https://github.com/OOHehir/ansible_rpi.git -d /home/octopus/ansible/ --clean --diff playbook.yml
User=ansible

[Install]
WantedBy=multi-user.target