[Unit]
Description=Start Python script to handle button events

[Service]
Restart=on-failure
RestartSec=10
Type=idle
ExecStart=/home/octopus/.venv/bin/python /home/octopus/button_driver.py

[Install]
WantedBy=multi-user.target
