[Unit]
Description=Start Python script to handle button events

[Service]
Restart=on-failure
RestartSec=10
Type=idle
ExecStart=/bin/bash -c 'cd /home/octopus/ && python button_driver.py'

[Install]
WantedBy=multi-user.target
