[Unit]
Description=Start Python script to flash LED to indicate network state

[Service]
Restart=on-failure
RestartSec=10
Type=idle
ExecStart=/home/octopus/.venv/bin/python /home/octopus/led_driver.py

[Install]
WantedBy=multi-user.target
