[Unit]
Description=Run maintenance script timer

[Timer]
OnBootSec=2min
OnUnitActiveSec=24h
Unit=maintenance.service

[Install]
WantedBy=timers.target