[Unit]
Description=Web server for GivEnergy Bridge

[Service]
User=octopus
RestartSec=10
WorkingDirectory=/home/octopus/
Environment=FLASK_CONFIG=production
ExecStart=ExecStart=/home/octopus/.venv/bin/python /home/octopus/webserver.py
Restart=always

[Install]
WantedBy=multi-user.target
