[Unit]
Description=Web server for GivEnergy Bridge
After=network-online.target

[Service]
Restart=on-failure
RestartSec=10
ExecStart=/home/octopus/.venv/bin/python /home/octopus/webserver.py

[Install]
WantedBy=multi-user.target
