<!doctype html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
</head>
<title>Octopus GivEnergy Bridge</title>
<h1>Home</h1>

<a href="{{ url_for('esp32_log') }}" class='btn btn-primary'>ESP32 Log</a>
<a href="{{ url_for('rpi_log') }}" class='btn btn-primary'>RPi Log</a>
<a href="{{ url_for('settings') }}" class='btn btn-primary'>Settings</a>
<a href="{{ url_for('about') }}" class='btn btn-primary'>About</a>
